<div
    id="modal"
    class="fixed inset-0 bg-black/40 hidden items-center justify-center">

    <div class="bg-white rounded-lg p-6 w-full max-w-xl">

        <div class="flex justify-between items-center mb-4">

            <h2 class="text-xl font-bold">
                Nueva Entrevista
            </h2>

            <button
                onclick="closeModal()"
                class="text-gray-500 text-xl">
                ✕
            </button>

        </div>

        <form
            hx-ext="json-enc"
            hx-post="/entrevistas/"
            hx-target="#entrevistas"
            hx-swap="beforeend"

            onhtmx:after-request="
                if(event.detail.successful){
                    this.reset();
                    closeModal();
                }
            "
        >

           <input type="hidden" name="postulacion_id" value="{{ postulacion_id }}">
           <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

            <div class="mb-4">

                <label class="block mb-1">
                    Fecha
                </label>

                <input
                    type="datetime-local"
                    name="date"
                    class="w-full border rounded px-3 py-2"
                >

            </div>

            <div class="mb-4">

                <label class="block mb-1">
                    Encargado
                </label>

                <input
                    type="text"
                    name="encargado"
                    class="w-full border rounded px-3 py-2"
                >

            </div>

            <div class="mb-4">

                <label class="block mb-1">
                    Comentarios
                </label>

                <textarea
                    name="comentarios"
                    rows="4"
                    class="w-full border rounded px-3 py-2">
                </textarea>

            </div>

            <div class="flex justify-end gap-2">

                <button
                    type="button"
                    onclick="closeModal()"
                    class="px-4 py-2 border rounded">

                    Cancelar

                </button>

                <button
                    type="submit"
                    class="px-4 py-2 bg-blue-600 text-white rounded">

                    Guardar

                </button>

            </div>

        </form>

    </div>

</div>

<script>
function openModal() {
    document
        .getElementById("modal")
        .classList
        .remove("hidden");

    document
        .getElementById("modal")
        .classList
        .add("flex");
}

function closeModal() {
    document
        .getElementById("modal")
        .classList
        .add("hidden");

    document
        .getElementById("modal")
        .classList
        .remove("flex");
}
</script>