<tr id="postulacion-{{ postulacion.id }}" hx-ext="json-enc">
<td><input type="hidden" name="csrf_token" value="{{ csrf_token }}"></td>
<td>
 <select
    id="candidato_id"
    name="candidato_id"
    class="w-full rounded border px-3 py-2">

    {% for candidato in candidatos %}
    <option
        value="{{ candidato.id }}"
        {% if candidato.id == postulacion.candidato_id %}selected{% endif %}>
        {{ candidato.name }}
    </option>
    {% endfor %}

</select>
</td>
<td>
   <select
    id="puesto_id"
    name="puesto_id"
    class="w-full rounded border px-3 py-2">

    {% for puesto in puestos %}
    <option
        value="{{ puesto.id }}"
        {% if puesto.id == postulacion.puesto_id %}selected{% endif %}>
        {{ puesto.name }}
    </option>
    {% endfor %}

</select>
</td>
<td>
    <input
        type="date"
        name="first_contact"
        value="{{ postulacion.first_contact }}"
        class="w-full rounded border px-2 py-1">
</td>
<td>
    <input
        type="text"
        name="status"
        value="{{ postulacion.status }}"
        class="w-full rounded border px-2 py-1">
</td>
<td>
    <button
        class="text-green-600"
        hx-put="/postulaciones/{{ postulacion.id }}"
        hx-include="closest tr"
        hx-target="#postulacion-{{ postulacion.id }}"
        hx-swap="outerHTML">
        Guardar
    </button>

    <button
        class="text-gray-600 ml-2"
        hx-get="/postulaciones/{{ postulacion.id }}"
        hx-target="#postulacion-{{ postulacion.id }}"
        hx-swap="outerHTML">
        Cancelar
    </button>
</td>
</tr>