<tr id="puesto-{{ puesto.id }}">
    <td class="px-4 py-3">{{ puesto.empresa.name }}</td>
    <td class="px-4 py-3">{{ puesto.name }}</td>
    <td class="px-4 py-3">{{ puesto.salary }}</td>
    <td class="px-4 py-3">{{ puesto.start_date }}</td>
    <td class="px-4 py-3">{{ puesto.end_date }}</td>
       <td class="px-4 py-3">
        <button
            class="text-blue-600 hover:underline"
            hx-get="/puestos/{{ puesto.id }}/edit"
            hx-target="#puesto-{{ puesto.id }}"
            hx-swap="outerHTML">
            Editar
        </button>
    </td>
    <td class="px-4 py-3">
        <button
            class="text-blue-600 hover:underline"
            hx-delete="/puestos/{{ puesto.id }}/"
            hx-target="#puesto-{{ puesto.id }}"
            hx-swap="outerHTML">
            Eliminar
        </button>
    </td>
</tr>
