<tr id="puesto-{{ puesto.id }}" hx-ext="json-enc">
<td><input type="hidden" name="csrf_token" value="{{ csrf_token }}"></td>
<td>
<select
    id="empresa_id"
    name="empresa_id"
    class="w-full rounded border px-3 py-2">

    {% for empresa in empresas %}
    <option
        value="{{ empresa.id }}"
        {% if empresa.id == puesto.empresa_id %}selected{% endif %}>
        {{ empresa.name }}
    </option>
    {% endfor %}

</select>
</td>
<td>
    <input
        type="text"
        name="name"
        value="{{ puesto.name }}"
        class="w-full rounded border px-2 py-1">
</td>

<td>
    <input
        type="number"
        name="salary"
        value="{{ puesto.salary }}"
        class="w-full rounded border px-2 py-1">
</td>

<td>
    <input
        type="date"
        name="start_date"
        value="{{ puesto.start_date }}"
        class="w-full rounded border px-2 py-1">
</td>


<td>
    <input
        type="date"
        name="end_date"
        value="{{ puesto.end_date }}"
        class="w-full rounded border px-2 py-1">
</td>

<td>
    <button
        class="text-green-600"
        hx-put="/puestos/{{ puesto.id }}"
        hx-include="closest tr"
        hx-target="#puesto-{{ puesto.id }}"
        hx-swap="outerHTML">
        Guardar
    </button>

    <button
        class="text-gray-600 ml-2"
        hx-get="/puestos/{{ puesto.id }}"
        hx-target="#puesto-{{ puesto.id }}"
        hx-swap="outerHTML">
        Cancelar
    </button>
</td>
</tr>